body * {
    margin: 0;
    line-height: 2;
    font-size: 24px;
    padding: 0;
}

.container {
    max-width: 800px;
    padding: 0;
    align-items: center;
    margin: 40px auto 0;
    border: 1px solid #028097;
    border-radius: 20px;
    background-color: #028097;
    color: #fff;
}

.row {
    margin: 30px;
    justify-content: space-between;
}

.row>*,
.card-body {
    padding: 0;
}

.form-control {
    font-size: 24px;
    background-color: inherit;
    border-left: none;
}

.col-8 {
    display: flex;
    justify-content: center;
}

.col-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: inherit;
}

hr {
    background: radial-gradient(circle,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 1) 35%,
            rgba(20, 76, 96, 1) 100%);
    height: 3px;
}

.actualCity{
    text-transform: capitalize;
}
.actualDayCity {
    background-color: #144c60;
    padding: 0 40px;
    box-shadow: inset 3px 3px 4px 2px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
}

.actualDayCity span {
    font-size: 28px;
}
.actualTimeBlock{
    width: 190px;
    text-align: center;
}

.weatherToday {
    display: flex;
}

.card-img {
    width: 190px;
}

.actualDegree {
    letter-spacing: -0.1em;
    line-height: 1.2;
    height: 190px;
    font-size: 150px;
    vertical-align: middle;
}

.card-body {
    width: 100%;
    text-align: center;
}

.chooseDate {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
}

.chooseDate i {
    background-color: #144c60;
    width: 25px;
    box-shadow: inset 3px 3px 4px 2px rgba(0, 0, 0, 0.4);
}

.cardThird {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px;
}

.col-2 {
    border-radius: 10px;
    background-color: #144c60;
    text-align: center;
    cursor: pointer;
    box-shadow: inset 3px 3px 4px 2px rgba(0, 0, 0, 0.4);
}

#inputGroup-sizing-default,
#formButton {
    color: #fdd400;
    background-color: #144c60;
    border-color: #144c60;
    border-right: none;
    box-shadow: inset 2px 2px 3px 1px rgb(0 0 0 / 20%);
}

#city::placeholder {
    color: #fff;
    opacity: 1;
}

#city:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
}

#city::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff;
}

#city {
    border-color: #144c60;
    box-shadow: inset 0px 0px 8px -1px #fff;
}

#city:focus {
    background-color: inherit;
    color: #fff;
    box-shadow: inset 3px 3px 4px 2px rgba(0, 0, 0, 0.4);
}

.linkBlock {
    margin:  auto;
    max-width: 800px;
    font-size: 20px;
}

.linkBlock * {
    font-size: 20px;
}

.linkBlock a {
    text-decoration-line: none;
}

.actualTempCF{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tempCF{
    padding: 30px 0 0 20px;
}

.tempC:hover,
.tempF:hover {
background-color:#1f627a;
cursor: pointer;
}

.active{
    color:#fdd400;
}

.weatherForecastTemperatureMax,
.weatherForecastTemperatureMin {
    font-size: 18px;
}

.weatherForecastTemperatureMin {
    opacity: 0.6;
    padding-left: 15px;
}

.smallWeatherIcon{
    width: 70px;
}